wcomponents-core/src/main/resources/schema/ui/v1/session.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ui="https://github.com/bordertech/wcomponents/namespace/ui/v1.0"
	xmlns:html="http://www.w3.org/1999/xhtml"
	elementFormDefault="qualified"
	targetNamespace="https://github.com/bordertech/wcomponents/namespace/ui/v1.0">
	<xs:element name="session">
		<xs:complexType>
			<xs:attribute name="timeout" type="xs:long" use="required"/>
			<xs:attribute name="warn" type="xs:long"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
